.container {
  background: cornsilk;
  padding: 20px;
  margin: 20px;
  border: 3px solid #ffeea87a;
  border-radius: 10px;
}
.container:hover {
  box-shadow: 2px 2px 6px 0px rgba(143,130,79,0.5);
  transition: box-shadow 0.1s ease-in;
}

.countryName{
  color: chocolate;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.image {
  height: 150px;
  width: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.topCard {
  display: flex;
  margin-bottom: 20px;
}

.nameAndCapital {
  padding-left: 20px;
}