.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.popContainer {
  position: relative;
}

.population {
  position: absolute;
  top: 4px;
}

@media only screen and (max-width: 620px) {
  .population {
    top: -1px;
  }

  .image {
    height: 80%;
  }
}