.container {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}
.indexContainer {
  min-height: 100vh;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countryContainer{
  min-height: 100vh;
  padding: 20px;
}
.countryGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}
.flagImage {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 300px;
  margin: 0 auto 40px;
}
.countryLink {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 620px) {
  .container {
    padding: 0;
  }
}