.heading2Xl {
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.lightTxt {
  font-weight: 300;
  font-size: 22px;
}

.lightTxtSm {
  font-weight: 300;
  font-size: 16px;
}

.italisize {
  font-style: italic;
}
/* special cases */
.alignCenter {
  text-align: center;
}
.matIcon {
  font-size: 22px;
}
.clickable {
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  .headingXl {
    font-size: 1.5rem;
    margin:0
  }

  .heading2Xl {
    font-size: 3rem;
    text-align: center;
  }

  .headingMd {
    font-size: 12px;
  }

  .lightTxt {
    font-size: 16px;
  }

  .lightTxtSm {
    font-size: 12px;
  }
  .matIcon {
    font-size: 12px;
  }
}